@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/Exo2.0-Thin.eot');
    src: url('../assets/fonts/Exo2.0-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Exo2.0-Thin.woff') format('woff'),
        url('../assets/fonts/Exo2.0-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}