// shadows
$shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
$title-shadow: 0px 1px 1px #000000;

//colors
$color-white: #fff;
$color-gray: #666666;
$color-black: #000000;
$color-blue-1: #1698D9;
$color-blue-2: #2EA8E6;
$color-red-1: #D91667;
$color-red-2: #E52E7A;
$product-bg:  #F2F2F2;
$color-disabled: #b3b3b3;